.new-background-color{
     background-color: #fceae8; 
 
}

.img-width img{
width: 100px;
}


.new-button{
    /* background-color: #ff408b; */
    background-image: linear-gradient(to bottom, #ff408b 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}